{% extends "base.html" %}
{% block page %}
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-5 col-lg-6 col-md-4">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form id="loginForm" class="user" method="POST">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="username" aria-describedby="usernameHelp" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <!--label class="custom-control-label" for="customCheck">Remember Me</label-->
                      </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login" />
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/reset-password">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/register">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!--script>
  document.getElementById("loginForm").addEventListener('submit', function(event){
    event.preventDefault();
    fetch('/api/auth/login', 
    { method:'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        email: document.getElementById("form_email").value,
        password: document.getElementById("form_password").value,
        redirect_to: "/home"
      })
    })
    .then(res => res.json())
    .then((data) => {
      //window.localStorage.setItem("token", data["token"]);
      window.location.href = "/home";
    })
    .catch(error => console.error(error));
  });
  </script-->
{% endblock %}
