# Ignore IDE specific files/directories
/.idea

# Ignore Node/NPM specific files/directories
/node_modules
package-lock.json

# Ignore Svelte[-kit] generated artifact files/directories
/.svelte
/.svelte-kit