{% extends "base.html" %}
{% block page %}
<body class="bg-gradient-primary">

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-xl-5 col-lg-6 col-md-4">

        <div class="card o-hidden border-0 shadow-lg my-5 justify-content-center">
          <div class="card-body justify-content-center py-5 px-5">
            <h1>Welcome!</h1>
          </div>
          <div class="card-body justify-content-center py-5 px-5">
            <a href="/login" class="btn btn-success"> Login </a>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}
