{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/home-ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/home-ui.js') }}"></script>
{% endblock %}


{% block page %}

{% include "loading.html" %}

<section id="deck-container">

    <div id="deck-template" class="deck hidden">
        <div class="static-info">
            <div>
                <h1 class="deck-name">Deck Name</h1>
                <p class="deck-desc">This is it.</p>
                <p class="deck-type">Algorithm</p>
            </div>
            <div class="buttons">
                <a class="positive" href="study/_deck_id_">Study</a>
                <button class="neutral" type="button" onclick="showForm('_deck_id_')">Edit</button>
                <a class="neutral" href="edit/_deck_id_/cards">Browse</a>
            </div>
        </div>

        <form class="hidden">
            <div>
                <input class="deck-name-form" type="text" name="name", placeholder="Deck Name"></input>
                <input class="deck-desc-form" type="text" name="description" placeholder="Deck Description"></input>
                <input class="deck-type-form hidden" type="text" name="algorithm"></input>
                <div class="extra-fields"></div>
            </div>
            <div class="buttons">
                <button type="button" class="positive" onclick="updateDeck('_deck_id_')">Save</button>
                <button type="button" class="neutral" onclick="hideForm('_deck_id_')">Cancel</button>
                <button type="button" class="negative" onclick="deleteDeck('_deck_id_')">Delete</button>
            </div>
        </form>
    </div>

    

    <div id="create-deck" class="hidden">
        <button type="button" onclick="displayNewDeck()">New Deck...</button>
        <form class="hidden">
            <div>
                <input class="deck-name-form" type="text" name="name", placeholder="Deck Name"></input>
                <input class="deck-desc-form" type="text" name="description" placeholder="Deck Description"></input>
                <select class="deck-type-form" name="algorithm">
                    <option>Random Order</option>
                </select>
            </div>
            <div class="buttons">
                <button type="button" class="positive" onclick="createNewDeck()">Save</button>
                <button type="button" class="neutral" onclick="hideNewForm()">Cancel</button>
            </div>
        </form>
    </div>

</section>

{% endblock %}