{% extends "base.html" %}


{% block css%}
<link href="{{ url_for('static', filename='css/landing.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<body>

<main class="wrapper">

  <section class="banner">
    <nav>
        <a href="/login" class="borderless">Login</a>
        <a href="/register">Signup</a>
    </nav>

    <div class="logo">
        <i class="fas fa-fish"></i>
    </div>

    <h1>Ebisu</h1>

    <div class="divider">
        <div class="line"></div>
        <div>
            <i class="fas fa-fish"></i>
        </div>
        <div class="line"></div>
    </div>

    <p>A new approach to flashcards!</p>

  </section>

  <section class="about">

    <h1>About</h1>

    <div class="divider">
        <div class="line"></div>
        <div>
            <i class="fas fa-fish"></i>
        </div>
        <div class="line"></div>
    </div>

    <div class="text">
        <p>
            Ebisu Flashcards is a new flashcard application centerd on the new Ebisu algorithm, developer by fasiha. 
            It features a much easier to use interface than Anki, and aims at providing the same amount of features, especially language learning-oriented ones.
        </p>
        <p>
            It's fundamentally different from the classic SM2/Anki approach to spaced repetition, because it's completely based on probability theory and on the exponential decay of memory [instert author and paper here].
        </p>
    </div>    
  </section>

  <footer>
    <p>&copy; 2019. Made with ❤ and CSS Grid.</p>
  </footer>
</main>

</body>
{% endblock %}