{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('static', filename='css/study.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/study.js') }}"></script>
{% endblock %}


{% block page %}

<section>

    {% include "loading.html" %}


    <div id="card" class="hidden">    

        <div id="question">
            <p>Question</p>
        </div>

        <details>
            <summary><p>Show the answer</p></summary>

            <div>
                <div id="answer">
                    <p>Answer</p>
                </div>

                <div class="feedback">
                    <p>Did you recall the answer?</p>

                    <div class="buttons">
                        <a class="positive" href="study/_deck_id_">Yes</a>
                        <a class="negative" href="edit/_deck_id_">No</a>
                    </div>
                </div>
            </div>
        </details>

    </div>

</section>
{% endblock %}