{% extends "app/base.html" %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cards List</h6>
        </div>
        <div class="card-body">
            <!-- Cards list-->
            <form action="/deck_{{deck_id}}/edit" method="POST">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            {% for column in cards.0.keys %}
                                {% if column != "id" %}
                                  <th>{{ column }}</th>
                                {% endif %}
                            {% endfor %}
                            <th></th> <!-- Column for the Edit button -->
                        </tr>
                        </thead>
                        <tbody>
                        {% if not card_to_edit %}
                        <!-- Row for new card -->
                        <tr>
                            <td><input type="text" name="question"></td>
                            <td><input type="text" name="answer"></td>
                            {% for key in cards.0.keys %}
                              {% if key != "id" and key != "question" and key != "answer" %}
                                <td></td>
                              {% endif %}
                            {% endfor %}
                            <td><button class="btn btn-primary" type="submit" name="card_id" value=-1>Add</button></td>
                        </tr>
                        {% else %}
                        <!-- Row for editing card -->
                        <tr>
                            {% for key, value in card_to_edit.items %}
                              {% if key != "id" %}
                                <td><input type="text" name="{{key}}" value="{{value}}"></td>
                              {% endif %}
                            {% endfor %}
                            <td><button class="btn btn-primary" type="submit" name="card_id" value={{card_to_edit.id}}>Save</button></td>
                        </tr>
                        {% endif %}
                        {% for card in cards reversed %}
                        <!-- View all other cards -->
                        <tr>
                            {% for key, value in card.items %}
                              {% if key != "id" %}
                                <td>{{ value }}</td>
                              {% endif %}
                            {% endfor %}
                            <td><button class="btn btn-primary" type="submit" name="card_id" value={{card.id}}>Edit</button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
