{% extends "app/logged-base.html" %}

{% block content %}
<!-- Content Row -->
<div class="row">

  <!-- Card Block -->
  <div class="col-xl-6 col-lg-8 col-md-10 mx-auto">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Deck Properties</h6>
    </div>
    <div class="card-body">
      
      <form action="/edit/{% if deck.id %}deck_{{deck.id}}{% else %}new_deck{% endif %}" method="POST">
        {% csrf_token %}
        <div class="form-group row">
          <label for="deck_name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="deck_name" value="{{deck.name}}">
          </div>
          <div class="col-sm-1"></div>
          <label for="algorithm" class="col-sm-2 col-form-label">Deck Type</label>
          <div class="col-sm-3">
            <select id="algorithm" name="algorithm" class="form-control">
              {% for algorithm in algorithms %}
              <option {% if deck and deck.algorithm == algorithm %}selected{% endif %}>{{algorithm}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="deck_description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="deck_description" value="{{deck.description}}">
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label for="deck_description" class="col-sm-2 col-form-label">Tags</label>
          <div class="col-sm-3">
            <select name="deck_tags" class="form-control" multiple>
              <option>Test Tag</option>
              <option>Another Tag</option>
            </select>
          </div>
          <div class="col-sm-7 align-self-end">
            {% if deck %}
            <button type="submit" class="btn btn-danger float-right" formaction="/edit/deck_{{deck.id}}/delete">
              <i class="fas fa-fw fa-trash-alt"></i>
              Delete
            </button>
            {% endif %}
            <button type="submit" class="btn btn-success float-right" style="margin-right:1em;">
              <i class="fas fa-fw fa-check"></i>
              Save
            </button>
          </div>
        </div>

      </form>

    </div>
    </div>

  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cards List</h6>
    </div>
    <div class="card-body">

        {% if not deck %}
        <div>
          <i>Please save the deck before adding cards to it</i>
        </div>
        {% else %}
        <!-- Cards list-->
        <form method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        {% for column in cards.0.keys %}
                            {% if column != "id" %}
                              <th>{{ column }}</th>
                            {% endif %}
                        {% endfor %}
                        <th></th> <!-- Column for the Edit button -->
                        <th></th> <!-- Column for the Delete button -->
                    </tr>
                    </thead>
                    <tbody>
                    {% if not card_to_edit %}
                    <!-- Row for new card -->
                    <tr>
                        <td><input type="text" name="question"></td>
                        <td><input type="text" name="answer"></td>
                        {% for key in cards.0.keys %}
                          {% if key != "id" and key != "question" and key != "answer" %}
                            <td></td>
                          {% endif %}
                        {% endfor %}
                        <td><button class="btn btn-success" type="submit" name="card_id" value=-1
                          formaction="edit/deck_{{deck.id}}/new_card">Add</button></td>
                        <th></th>
                    </tr>
                    {% else %}
                    <!-- Row for editing card -->
                    <tr>
                        {% for key, value in card_to_edit.items %}
                          {% if key != "id" %}
                            <td><input type="text" name="{{key}}" value="{{value}}"></td>
                          {% endif %}
                        {% endfor %}
                        <td><button class="btn btn-primary" type="submit" name="card_id" value={{card_to_edit.id}}
                          formaction="edit/deck_{{deck.id}}/card_{{card_to_edit.id}}">Save</button></td>
                    </tr>
                    {% endif %}
                    {% for card in cards reversed %}
                    <!-- View all other cards -->
                    <tr>
                        {% for key, value in card.items %}
                          {% if key != "id" %}
                            <td>{{ value }}</td>
                          {% endif %}
                        {% endfor %}
                        <td><a class="btn btn-primary" href="edit/deck_{{deck.id}}/card_{{card.id}}">Edit</a></td>
                        <td><button class="btn btn-danger" type="submit" name="card_id" value={{card.id}}
                          formaction="edit/deck_{{deck.id}}/card_{{card.id}}/delete">Delete</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
