<!-- Content Row -->
<div class="row">

  <!-- Card Block -->
  <div class="col-xl-6 col-lg-8 col-md-10 mx-auto">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Deck Properties</h6>
    </div>
    <div class="card-body">
      
      <form action="/edit/{% if deck.id %}deck_{{deck.id}}{% else %}new_deck{% endif %}" method="POST">
        {% csrf_token %}
        <div class="form-group row">
          <label for="deck_name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="deck_name" value="{{deck.name}}">
          </div>
          <div class="col-sm-1"></div>
          <label for="algorithm" class="col-sm-2 col-form-label">Deck Type</label>
          <div class="col-sm-3">
            <select id="algorithm" name="algorithm" class="form-control">
              {% for algorithm in algorithms %}
              <option {% if deck and deck.algorithm == algorithm %}selected{% endif %}>{{algorithm}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="deck_description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="deck_description" value="{{deck.description}}">
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label for="deck_description" class="col-sm-2 col-form-label">Tags</label>
          <div class="col-sm-3">
            <select name="deck_tags" class="form-control" multiple>
              <option>Test Tag</option>
              <option>Another Tag</option>
            </select>
          </div>
          <div class="col-sm-7 align-self-end">
            {% if deck %}
            <button type="submit" class="btn btn-danger float-right" formaction="/edit/deck_{{deck.id}}/delete">
              <i class="fas fa-fw fa-trash-alt"></i>
              Delete
            </button>
            {% endif %}
            <button type="submit" class="btn btn-success float-right" style="margin-right:1em;">
              <i class="fas fa-fw fa-check"></i>
              Save
            </button>
          </div>
        </div>

      </form>

    </div>
    </div>

  </div>
</div>
