{% extends "app/logged-base.html" %}

{% block content %}
<div class="row">

  {% for deck in decks %}
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-bottom-primary shadow h-100 py-2" 
          onclick="location.href='study/deck_{{ deck.id }}'">
      <div class="card-body">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h1>{{ deck.name }}</h1>
          <a href="edit/deck_{{ deck.id }}" class="btn btn-warning" type="button">
            <i class="fas fa-fw fa-pencil-alt"></i>
          </a>
        </div>
        <span>{{ deck.description }}</span>
      </div>
      <div class="card-footer">
        Cards to review: {{ deck.cards_to_review }}
        <br>
        Unknown cards: {{ deck.new_cards}}
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-bottom-secondary shadow h-100 py-2" 
          onclick="location.href='/edit/new_deck'">
      <div class="card-body">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <h3><i>Add Deck...</i></h3>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End of row -->

{% endblock %}