{% extends "app/logged-base.html" %}

{% block content %}
<!-- Content Row -->
<div class="row">

  <!-- Card Block -->
  <div class="col-xl-6 col-lg-5 mx-auto">

    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      
      
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></a>
        <span class="m-0">Card #{{cards_count}}</span>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Modify Card</a>
            <a class="dropdown-item" href="#">Skip Card</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body text-center">
        <div class="row justify-content-center py-3" >
          <div class="col-12 text-center py-3">
            {% include "app/renderers/display/"|add:card.question.renderer.path with content=card.question.fact %}
          </div>
          <div class="col-6 py-3">
            <input type="text form-control-lg" placeholder="Your answer..." style="width:100%;"/>
          </div>
        </div>
    
        <!-- Accordion Header -->            
        <a id="answerButton" href="#answerArea" class="btn btn-primary" data-toggle="collapse" role="button" 
            aria-expanded="true" aria-controls="collapseCardExample" onclick="getElementById('answerButton').style.display = 'none';">
            Click to show answer
        </a>
    
        <!-- Accordion Content - Collapse -->
        <div class="collapse hide" id="answerArea">
            <div class="card-body">
                <div></div>
                <div>{% include "app/renderers/display/"|add:card.answer.renderer.path with content=card.answer.fact %}</div>
                <hr />
                
                <form method="POST">
                {% csrf_token %}
                  <button type="submit" name="test_result" value=0 class="btn btn-danger" type="button">
                    <i class="fas fa-fw fa-times d-md-none"></i>
                    <span class="d-none d-sm-inline-block">I forgot :(</span>
                  </button>
                  <button type="submit" name="test_result" value=1 class="btn btn-success" type="button">
                    <i class="fas fa-fw fa-check d-md-none"></i>
                    <span class="d-none d-sm-inline-block">I remember!</span>
                  </button>
                </form>
    
            </div>
        </div>
    
      </div>    


    </div>
  </div>

</div>

{% endblock %}