{% extends "app/logged-base.html" %}

{% block content %}
<!-- Content Row -->
<div class="row">

  <!-- Card Block -->
  <div class="col-xl-6 col-lg-5 mx-auto">

    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      {% include "app/card_templates/default-card-template.html" with card=card %}
    </div>
  </div>

</div>
<!-- End of row -->

<!-- Confirm leave
<script>
window.onbeforeunload = function(){
  return 'Are you sure you want to leave?';
};
</script> -->

{% endblock %}