{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('pages.static', filename='css/boxes.css') }}" rel="stylesheet">
<link href="{{ url_for('pages.static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('pages.static', filename='js/base.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/boxes-ajax.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/boxes-rendering.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/boxes-ui.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/home.js') }}"></script>

{% endblock %}


{% block page %}

<div id="loading">{% include "loading.html"%}</div>

<section id="boxes-container">

    <div id="box-template" class="box hidden">

        <div id="loading-_box_id_">{% include "loading.html"%}</div>

        <div class="static-info">
            <div>
                <h1 class="deck-name">Deck Name</h1>
                <p class="deck-desc">This is it.</p>
                <p class="deck-type">Algorithm</p>
            </div>
            <div class="buttons">
                <a class="positive" href="study/_box_id_">Study</a>
                <button class="neutral" type="button" onclick="showFormInDOM('_box_id_')">Edit</button>
                <a class="neutral" href="edit/_box_id_">Browse</a>
            </div>
        </div>

        <form class="hidden">
            <div>
                <input class="deck-name-form" type="text" name="name", placeholder="Deck Name"></input>
                <input class="deck-desc-form" type="text" name="description" placeholder="Deck Description"></input>
                <input class="deck-type-form hidden" type="text" name="algorithm"></input>
                <div class="extra-fields"></div>
            </div>

            <div class="feedback feedback-negative hidden"><p></p></div>

            <div class="buttons">
                <button type="button" class="positive" onclick="updateDeck('_box_id_')">Save</button>
                <button type="button" class="neutral" onclick="hideFormInDOM('_box_id_')">Cancel</button>
                <button type="button" class="negative" onclick="deleteDeck('_box_id_')">Delete</button>
            </div>
        </form>
    </div>

    

    <div id="create-box" class="hidden">
        <button type="button" onclick="showNewFormInDOM()">New Deck...</button>
        <form class="hidden">
            <div>
                <input class="deck-name-form" type="text" name="name", placeholder="Deck Name" required></input>
                <input class="deck-desc-form" type="text" name="description" placeholder="Deck Description" required></input>
                <select class="deck-type-form" name="algorithm" onchange="switchAlgorithmFields()" required>
                    <option disabled selected value> -- select an option -- </option>
                </select>
                <div class="extra-fields"></div>
            </div>
            
            <div class="feedback feedback-negative hidden"><p></p></div>

            <div class="buttons">
                <button type="button" class="positive" onclick="createNewDeck()">Save</button>
                <button type="button" class="neutral" onclick="hideNewFormInDOM()">Cancel</button>
            </div>
        </form>
    </div>

</section>

{% endblock %}