{% extends "base.html" %}


{% block style%}
<link href="{{ url_for('pages.static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}



{% block body %}
<body class="small">

<main class="wrapper">

  <form id="login" method="POST">
    <h1>Welcome!</h1>

    <div><input type="text" name="username" placeholder="Username" aria-describedby="usernameHelp" required></div>
    <div><input type="email" name="email" placeholder="Email" aria-describedby="emailHelp" required></div>
    <div><input type="password"name="password" placeholder="Password"  aria-describedby="passwordeHelp" required></div>
    <div class="feedback feedback-{{feedback_type}} {% if not feedback %} hidden {% endif %}"><p>{{feedback}}</p></div>
    <div><input type="submit" value="Register" /></div>
  </form>

  <footer>
    <a href="{{ url_for('pages.reset_password') }}">Forgot Password?</a>
    <a href="{{ url_for('pages.login') }}">Already Registered?</a>
  </footer>

</main>

</body>
{% endblock %}
