/*----------------------------------------------------------------------------*/
/*     Deck Styles
/*----------------------------------------------------------------------------*/

.deck-type {
    display: inline-block;
    background: white;
    font-size: 10pt;
    font-style: italic;
    padding: 0.3rem 0.5rem;
    margin: 0;
    border: 1px dashed var(--gray);
    border-radius: 2px;
}


/*----------------------------------------------------------------------------*/
/*      Deck Form Styles
/*----------------------------------------------------------------------------*/

.deck-name-form {
    color: black;
    background-color: #eee;
    text-align: unset;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display:block;
    margin: 0;
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px dashed var(--dark-gray);
    width: 95%;
}

.deck-desc-form,
.extra-fields input[type="text"] {
    color: var(--dark-gray);
    background-color: #eee;
    text-align: unset;
    font-style: italic;
    display:block;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 0;
    width: 95%;
}



/*----------------------------------------------------------------------------*/
/*    Extra Fields form styles
/*----------------------------------------------------------------------------*/

/* The box around the entry */
.extra-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inline-entry p {
  grid-column: 1/2;
}

/* Hide default HTML checkbox (for toggles) */
.inline-entry input {
  grid-column: 2/3;
}

div.toggle {
    grid-column: 2/3;
}
p.toggle {
    grid-column: 1/2;
}