{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h1 mb-0 text-gray-800">Welcome Back!</h1>
</div>

<div class="row">

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-bottom-success shadow h-100 py-2">
      <div class="card-body">
        <a href="/study" class="btn btn-success btn-lg"> Study </a>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-bottom-warning shadow h-100 py-2">
      <div class="card-body">
        <a href="/settings" class="btn btn-warning btn-lg"> Settings </a>
      </div>
    </div>
  </div>

</div>
<!-- End of row -->

{% endblock %}