/*----------------------------------------------------------------------------*/
/*     Container Styles
/*----------------------------------------------------------------------------*/

section {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
}

/*----------------------------------------------------------------------------*/
/*     Box Styles
/*----------------------------------------------------------------------------*/


.box {
    max-width: min(500px, 75vw);
    padding: 1.5rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);
    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.box:hover {
    transform: scale(1.05);
}*/

.box p {
    color: var(--dark-gray);
}

.box a,     
.box button {
    text-transform: uppercase;
    padding: 0.75rem;
}

.box h1 {
    color: black;
    background-color: transparent;
    text-align: unset;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display:block;
    margin: 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px dashed var(--dark-gray);
}

.box .buttons {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px dashed var(--gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.box .positive {
    background-color: var(--success);
}

.box .neutral {
    background-color: var(--primary);
}

.box .negative {
    background-color: var(--danger);
}

