/*----------------------------------------------------------------------------*/
/*     Home Styles
/*----------------------------------------------------------------------------*/

section {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
}

/*----------------------------------------------------------------------------*/
/*     Deck Styles
/*----------------------------------------------------------------------------*/


.deck {
    max-width: min(500px, 75vw);
    padding: 1.5rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deck p {
    color: var(--dark-gray);
}

.deck a,     
.deck button {
    text-transform: uppercase;
    padding: 0.75rem;
}

.deck h1 {
    color: black;
    background-color: transparent;
    text-align: unset;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display:block;
    margin: 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px dashed var(--dark-gray);
}

.deck-type {
    display: inline-block;
    background: white;
    font-size: 10pt;
    font-style: italic;
    padding: 0.3rem 0.5rem;
    margin: 0;
    border: 1px dashed var(--gray);
    border-radius: 2px;
}

.deck .buttons {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px dashed var(--gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.deck .positive {
    background-color: var(--success);
}

.deck .neutral {
    background-color: var(--primary);
}

.deck .negative {
    background-color: var(--danger);
}


/*----------------------------------------------------------------------------*/
/*     New Deck Styles
/*----------------------------------------------------------------------------*/

#create-deck {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#create-deck a {
    text-align: center;
    display:inline;
    padding: 1.5rem;
    margin-right:auto;

    border: 1px dashed var(--gray);
    border-radius: 1rem;

    background: transparent;
    color: var(--gray);
    font-size: 1.5rem;
    font-style: italic;
}

#create-deck a:hover {
    color:black;
    border-color: black;
}

#create-deck a[disabled] {
    color: white;
    border-color: white;
}


/*----------------------------------------------------------------------------*/
/*      Deck Form Styles
/*----------------------------------------------------------------------------*/

.deck .deck-name-form {
    color: black;
    background-color: #eee;
    text-align: unset;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display:block;
    margin: 0;
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px dashed var(--dark-gray);
    width: 95%;
}

.deck .deck-desc-form {
    color: var(--dark-gray);
    background-color: #eee;
    text-align: unset;
    font-style: italic;
    display:block;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 0;
    width: 95%;
}