

/*----------------------------------------------------------------------------*/
/*     Deck Styles
/*----------------------------------------------------------------------------*/

.deck-type {
    display: inline-block;
    background: white;
    font-size: 10pt;
    font-style: italic;
    padding: 0.3rem 0.5rem;
    margin: 0;
    border: 1px dashed var(--gray);
    border-radius: 2px;
}

/*----------------------------------------------------------------------------*/
/*     New Deck Styles
/*----------------------------------------------------------------------------*/

#create-deck {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s;
}

#create-deck > button {
    text-align: center;
    display:inline;
    padding: 1.5rem;
    margin-right:auto;

    border: 1px dashed var(--gray);
    border-radius: 1rem;

    background: transparent;
    color: var(--gray);
    font-size: 1.5rem;
    font-style: italic;
}

#create-deck  > button:hover {
    color:black;
    border: 1px dashed black;
}

#create-deck > button:disabled {
    color: white;
    border-color: white;
}


/*----------------------------------------------------------------------------*/
/*      Deck Form Styles
/*----------------------------------------------------------------------------*/

.deck-name-form {
    color: black;
    background-color: #eee;
    text-align: unset;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display:block;
    margin: 0;
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px dashed var(--dark-gray);
    width: 95%;
}

.deck-desc-form {
    color: var(--dark-gray);
    background-color: #eee;
    text-align: unset;
    font-style: italic;
    display:block;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 0;
    width: 95%;
}