/*----------------------------------------------------------------------------*/
/*     Page Styles
/*----------------------------------------------------------------------------*/

body.small {
    background-color: var(--primary);
    padding: 0;
    max-width: 500px;
  
    display:flex; 
    flex-direction:column; 
    justify-content:center;
  
    min-height:100vh; 
}

.wrapper {
    text-align: center;
    box-shadow: 20px 20px var(--dark-gray);
}

.wrapper > h1 {
    text-transform: uppercase;
    text-decoration: underline;
}


/*----------------------------------------------------------------------------*/
/*     Form Styles
/*----------------------------------------------------------------------------*/

form {
    padding: 1rem;
}

form > div {
    padding: 1rem;
}

input {
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    border: 0;
    border-bottom: 1px solid var(--gray);
    color: black;
}

/* ****************** Firefox hack :( *************************** */
:not(output):-moz-ui-invalid:not(:focus) {
    box-shadow: none;
  }
  
  :not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
    box-shadow: none;
  }
/* ****************** End Firefox hack :( *********************** */

input[type="submit"]{
    color: white;
    font-size: 1.2rem;
    width: 100%;
}


/*----------------------------------------------------------------------------*/
/*     Footer Styles
/*----------------------------------------------------------------------------*/

footer {
    background-color: var(--light-gray);
    padding: 1rem;
}

footer > a {
    color: var(--dark-gray);
    background-color: transparent;
    padding: 0;
    margin: 0.5rem 1rem;
    border: 0;
}

footer > a:hover {
    color: black;
    text-decoration: underline;
}