/*----------------------------------------------------------------------------*/
/*     Study Styles
/*----------------------------------------------------------------------------*/

section {
    padding: 2rem min(2rem, 3%);
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/*     Card Styles
/*----------------------------------------------------------------------------*/

#card {
    max-width: 500px;
    margin: auto;
    padding: 2rem min(2rem, 3%);
    
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card p {
    color: var(--dark-gray);
}


/*----------------------------------------------------------------------------*/
/*     Question and Answer Styles
/*----------------------------------------------------------------------------*/


#question,
#card details summary {
    border-bottom: 1px dashed var(--gray);
}

#answer {
    border-top: 1px dashed var(--gray);
}

#guess {
    padding: min(2rem, 5%);
    padding-bottom: min(3rem, 8%);
}

#guess p {
    margin-top:0;
} 

#guess input {
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    border: 0;
    border-bottom: 1px solid var(--gray);
    color: black;
    width: 80%;
}

#card details summary {
    cursor: pointer;
    list-style: none;
}

#card details summary .show:hover {
    color: black;
    font-weight: bold;
}

#card details summary::-webkit-details-marker {
    display: none;
}

#card  details[open] summary {
    display: none;
}


/*----------------------------------------------------------------------------*/
/*     Feedback Styles
/*----------------------------------------------------------------------------*/

#card .feedback {
    padding-top: 0.5rem;
    margin-top: 1rem;
    border-top: 1px dashed var(--gray);
}

#card .feedback p {
    padding-bottom: 0.75rem;
}

#card .feedback .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 1rem;
}

#card .positive {
    text-transform: uppercase;
    background-color: var(--green);
}

#card .negative {
    text-transform: uppercase;
    background-color: var(--red);
}