{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('.static', filename='css/boxes.css') }}" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/edit.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('.static', filename='js/base.js') }}"></script>
<script src="{{ url_for('.static', filename='js/boxes-ajax.js') }}"></script>
<script src="{{ url_for('.static', filename='js/boxes-rendering.js') }}"></script>
<script src="{{ url_for('.static', filename='js/boxes-ui.js') }}"></script>
<script src="{{ url_for('.static', filename='js/edit.js') }}"></script>
{% endblock %}


{% block page %}

{% include "loading.html" %}

<section id="boxes-container">

    <div id="box-template" class="box hidden">
        <div class="static-info">

            <div class="question">
                <p>---</p>
            </div>
            <div class="answer">
                <p>---</p>
            </div>

            <div class="buttons">
                <button class="neutral" type="button" onclick="showFormInDOM('_box_id_')">Edit</button>
            </div>

        </div>

        <form class="hidden">
            <div>
                <div class="question-form"></div>
                <div class="answer-form"></div>
            </div>
            <div class="buttons">
                <button type="button" class="positive" onclick="updateCard('_box_id_')">Save</button>
                <button type="button" class="neutral" onclick="hideFormInDOM('_box_id_')">Cancel</button>
                <button type="button" class="negative" onclick="deleteCard('_box_id_')">Delete</button>
            </div>
        </form>
    </div>

    

    <div id="create-box" class="hidden">
        <button type="button" onclick="showNewFormInDOM()">New Card...</button>
        <form class="hidden">
            <div>
                <input class="question-form" type="text" name="question" placeholder="Question"></input>
                <input class="hidden" type="text" name="question_template" value="Text Renderer"></input>

                <input class="answer-form" type="text" name="answer" placeholder="Answer"></input>
                <input class="hidden" type="text" name="answer_template" value="Text Renderer"></input>

                <div class="extra-fields"></div>
            </div>
            <div class="buttons">
                <button type="button" class="positive" onclick="createNewCard('_box_id_')">Save</button>
                <button type="button" class="neutral" onclick="hideNewFormInDOM('_box_id_')">Cancel</button>
            </div>
        </form>
    </div>

</section>

{% endblock %}