{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('pages.static', filename='css/boxes.css') }}" rel="stylesheet">
<link href="{{ url_for('pages.static', filename='css/edit.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('pages.static', filename='js/base.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/boxes-ajax.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/boxes-rendering.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/boxes-ui.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/edit.js') }}"></script>
{% endblock %}


{% block page %}

<div id="loading">{% include "loading.html"%}</div>

<section id="boxes-container">

    <div id="box-template" class="box hidden">
        <div class="static-info">

            <div class="question">
                <p>---</p>
            </div>
            <div class="answer">
                <p>---</p>
            </div>

            <div class="buttons">
                <button class="neutral" type="button" onclick="showFormInDOM('_box_id_')">Edit</button>
            </div>

        </div>

        <form class="hidden">
            <div>
                <div class="question-form"></div>
                <div class="answer-form"></div>
            </div>
            <div class="buttons">
                <button type="button" class="positive" onclick="updateCard('_box_id_')">Save</button>
                <button type="button" class="neutral" onclick="hideFormInDOM('_box_id_')">Cancel</button>
                <button type="button" class="negative" onclick="deleteCard('_box_id_')">Delete</button>
            </div>
        </form>
    </div>

    

    <div id="create-box" class="hidden">
        <button type="button" onclick="showNewFormInDOM()">New Card...</button>
        <form class="hidden">
            <div>

                <div class="field question-fields">
                </div>
                <select class="question-field-type-form" name="question_template" onchange="switchFieldType('question')" required>
                    <option disabled selected value> -- select an option -- </option>
                </select>

               <hr />

                <div class="field answer-fields">
                </div>
                <select class="answer-field-type-form" name="answer_template" onchange="switchFieldType('answer')" required>
                    <option disabled selected value> -- select an option -- </option>
                </select>
                
            </div>
            <div class="buttons">
                <button type="button" class="positive" onclick="createNewCard('_box_id_')">Save</button>
                <button type="button" class="neutral" onclick="hideNewFormInDOM('_box_id_')">Cancel</button>
            </div>
        </form>
    </div>

</section>

{% endblock %}