{% extends "base.html" %}


{% block style%}
<link href="{{ url_for('pages.static', filename='css/auth-base.css') }}" rel="stylesheet">
{% block css %}
{% endblock %}
{% endblock %}


{% block body %}
<main class="wrapper">

  <nav>

    {% if navbar_home %}
      <div>
        <a href="/home">Home</a>  
      </div>
    <h1 class="center">{{navbar_title}}</h1>
  
    {% else %}
      <h1>{{navbar_title}}</h1>
    {% endif %}
  
    <div class="logout">
      <a href="/logout">Logout</a>  
    </div>
  </nav>

  <div id="stretched">
  {% block page %}
  {% endblock %}
  </div>

  <footer>
    <p>&copy; Ebisu Flashcards 2020. Made with ❤ and CSS Grid.</p>
  </footer>

</main>
{% endblock %}