{% extends "base.html" %}


{% block style%}
<link href="{{ url_for('.static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}



{% block body %}
<body class="small">

<main class="wrapper">

  <form id="login" method="POST">
    <h1>Login</h1>

    <div><input type="text" name="username" placeholder="Username" aria-describedby="usernameHelp" required></div>
    <div><input type="password"name="password" placeholder="Password"  aria-describedby="passwordeHelp" required></div>
    <div><input type="submit" value="Login" /></div>
  </form>

  <footer>
    <a href="/reset-password">Forgot Password?</a>
    <a href="/register">Create an Account!</a>
  </footer>

</main>

</body>
{% endblock %}
