{% extends "base.html" %}


{% block style%}
<link href="{{ url_for('.static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}



{% block body %}
<body class="small">

<main class="wrapper">

  <form id="login" method="POST">
    <h1>Forgot your password?</h1>

    <div><input type="email" name="email" placeholder="Email" aria-describedby="emailHelp" required></div>
    <div><input type="submit" value="Reset Password" /></div>
  </form>

  <footer>
    <a href="/login">Already Registered?</a>
    <a href="/reset-password">Create an Account!</a>
  </footer>

</main>

</body>
{% endblock %}
