{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('pages.static', filename='css/study.css') }}" rel="stylesheet">
<link href="{{ url_for('pages.static', filename='css/widgets.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('pages.static', filename='js/base.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/study-ui.js') }}"></script>
<script src="{{ url_for('pages.static', filename='js/study-ajax.js') }}"></script>
{% endblock %}


{% block page %}

<section>

    {% include "loading.html" %}


    <div id="card" class="card hidden">    

        <div id="question">
            <p>---</p>
        </div>

        <div id="guess">
            <input type="text" placeholder="Your Answer..."></input>
        </div>

        <details id="collapsible">
            <summary>
                <p class="show">Show the answer</p>
            </summary>

            <div>
                <div id="answer">
                    <p>Answer</p>
                    <p>---</p>
                </div>

                <div id="feedback">
                    <p>Did you recall the answer?</p>

                    <div class="buttons">
                        <a class="positive" onclick="submitResults({'results': true });">Yes</a>
                        <a class="negative" onclick="submitResults({'results': false });">No</a>
                    </div>
                </div>
            </div>
        </details>

    </div>

    <div id="no-cards" class="card problem-card hidden">  
        <h1>No Cards!</h1>
        <p>Seems like you have no cards to review.<br><br>
           Some deck types have limits on the cards to review for specific timespans:
           check your deck configuration, and make sure your deck contains any card.</p>
        <a href="/edit/_deck_id_">Browse Deck Cards</a>
    </div>

    <div id="server-error" class="card problem-card hidden">  
        <h1>Server Error!</h1>
        <p>Seems like something went wrong on our servers.<br><br>
           Please retry in a few minutes and, if the problem persists, contact the developers. It's a bug!</p>
        <a href="/home">Go Back</a>
    </div>

</section>
{% endblock %}