{% extends "logged-in-base.html" %}


{% block css%}
<link href="{{ url_for('.static', filename='css/study.css') }}" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/widgets.css') }}" rel="stylesheet">
{% endblock %}


{% block js %}
<script src="{{ url_for('.static', filename='js/base.js') }}"></script>
<script src="{{ url_for('.static', filename='js/study.js') }}"></script>
{% endblock %}


{% block page %}

<section>

    {% include "loading.html" %}


    <div id="card" class="hidden">    

        <div id="question">
            <p>---</p>
        </div>

        <div id="guess">
            <input type="text" placeholder="Your Answer..."></input>
        </div>

        <details id="collapsible">
            <summary>
                <p class="show">Show the answer</p>
            </summary>

            <div>
                <div id="answer">
                    <p>Answer</p>
                    <p>---</p>
                </div>

                <div id="feedback">
                    <p>Did you recall the answer?</p>

                    <div class="buttons">
                        <a class="positive" onclick="submitResults({'results': true });">Yes</a>
                        <a class="negative" onclick="submitResults({'results': false });">No</a>
                    </div>
                </div>
            </div>
        </details>

    </div>

</section>
{% endblock %}