/*----------------------------------------------------------------------------*/
/*     Banner Styles
/*----------------------------------------------------------------------------*/
.banner {
    background: var(--primary-gradient);
    background-size: cover;
    padding: 1rem;
    padding-bottom: 3rem;
    border-radius: var(--page-corner-radius) var(--page-corner-radius) 0 0;
}

.banner > * {
    text-align:center;
    color: white;
}

.banner > nav {
    text-align: right;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.banner > nav > a {
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
}

.banner > nav > a.borderless {
    margin: 0;
    border: 0;
}

.banner > div.logo {
    margin: auto;
}

.banner > div.logo > svg {
    font-size: 5rem;
    transform: rotate(-15deg);
}

.banner > h1 {
    font-size: 4rem;
    padding: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.banner > .divider > div.line {
    background-color: white;
}

.banner > p {
    font-size: 1.5rem;
}

/*----------------------------------------------------------------------------*/
/*    Divider Styles
/*----------------------------------------------------------------------------*/

.divider {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider > div.line {
    width: min(150px, 30vw);
    height: 0.25rem;
    border-radius: 1rem;
    margin: 2rem;
}

.divider > div > svg {
    font-size: 2rem;
}


/*----------------------------------------------------------------------------*/
/*    About Styles
/*----------------------------------------------------------------------------*/

.about {
    background: white;
    background-size: cover;
    padding: 1rem;
    padding-bottom: 3rem;
}

.about > * {
    text-align:center;
    color: black;
}

.about > h1 {
    font-size: 3rem;
    padding: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.about > .divider > div.line {
    background-color: black;
}

.about > .text {
    max-width: 700px;
    margin: auto;
    text-align:left;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about > .text > p {
    font-size: 14pt;
    line-height: 2rem;
    padding: 0 1rem;
}
